@model UniversitySite.ViewModels.ChangePasswordViewModel
@section scripts {

    @Scripts.Render("/Scripts/DataTables/jquery.dataTables.js")

}
@using (Ajax.BeginForm("ChangePassword", "Account", new AjaxOptions {HttpMethod = "POST", UpdateTargetId = "changePasswordDiv"}, new {@class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()
    <h4>Change password</h4>
    <hr/>
    @Html.ValidationSummary("", new {@class = "text-danger"})
    <div class="form-group">
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new {@class = "form-control", placeholder = "Current password"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control", placeholder = "New password"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control", placeholder = "Confirm password"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Change" class="btn btn-default"/>
        </div>
    </div>
}