@model UniversitySite.ViewModels.ProfessorViewModel


<div id="userSpecificData">
    @using (Ajax.BeginForm("EditProfessor", "Account", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "userSpecificData" }, new { @class = "form-horizontal", role = "form" }))
    {

        @Html.AntiForgeryToken()
        <h4>Change account data</h4>
        <hr />
        <div>
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Surname, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Change" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>


<div id="listOfSubjectsDiv">
    <h2>Subjects</h2>

    <br />
    <h3>Add student to subject</h3>
    <form role="form">
        <table class="table">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Student</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select id="subjectSelector" class="form-control" data-bind="options: professorSubjects, optionsText: 'name',  optionsValue: 'id', optionsCaption: 'Choose..', value : selectedSubjectId"></select>
                    </td>
                    <td>
                        <select id="studentSelector" class="form-control" data-bind="options: allStudents, optionsText: function(i) { return i.surname + ' ' + i.name; }, optionsCaption: 'Choose..', optionsValue: 'studentId', value : selectedStudentId"></select>
                    </td>
                    <td>
                        <input type="button" class="btn btn-default"
                               data-bind='click: addStudentToSubject' value="Add" />
                    </td>

                </tr>
            </tbody>
        </table>
    </form>

    <h3>Add mark for student </h3>
    <form role="form">
        <table class="table" data-bind='with : markVm'>
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Student</th>
                    <th>Mark</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select class="form-control" data-bind="options: professorSubjects, optionsText: 'name',  optionsValue: 'id', optionsCaption: 'Choose..', value : selectedSubjectId, event:{ change: onSubjectSelectedHandler}"></select>
                    </td>
                    <td>
                        <select class="form-control" data-bind="options: currentSubjectStudents, optionsText: function(i) { return i.surname + ' ' + i.name; }, optionsCaption: 'Choose..', optionsValue: 'id', value : selectedStudentId"></select>
                    </td>
                    <td>
                        <input type="number" class="btn btn-default"
                               min="0" step="1" data-bind="value:markValue" />
                    </td>
                    <td>
                        <input type="button" class="btn btn-default"
                               data-bind='click: addMarkHandler' value="Add" />
                    </td>
                </tr>
            </tbody>
        </table>
    </form>


    <div class="row" data-bind="foreach: professorSubjects">

        <div class="row">
            <div class="col-md-12">
                <h4><span class="col-md-12" data-bind="text: name" /></h4>
            </div>
            <div class="col-md-12">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Student</th>
                            <th>Mark</th>
                        </tr>
                    </thead>
                    <tbody data-bind='foreach: students'>
                        <tr>
                            <td><span data-bind="text: name">&nbsp;</span></td>
                            <td><span data-bind="text: markAverage">&nbsp;</span></td>
                            <td>
                                <input type="button" class="btn btn-default"
                                       data-bind='click: function () { removeStudent($data, $parent); }' value="Remove" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>






