@model UniversitySite.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@section scriptsInHead{



}
@section scripts {

    @Scripts.Render("/Scripts/knockout-3.4.0.js")
    @Scripts.Render("/Scripts/account/register.js")
    @Scripts.Render("~/bundles/jqueryval")
}
<h2>@ViewBag.Title.</h2>

<div>
    <div class="span12">

        <div class="container">

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#studentsData">Student</a></li>
                <li><a data-toggle="tab" href="#professorsData">Professor</a></li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="professorsData">

                    @using (Html.BeginForm("RegisterProfessor", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "simpleForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Create a new account.</h4>
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Login, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ProfessorRegisterVewModel.Name, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.ProfessorRegisterVewModel.Name, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.ProfessorRegisterVewModel.Surname, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.ProfessorRegisterVewModel.Surname, new { @class = "form-control" })
                            </div>
                        </div>


                        <div class="tab-pane" id="professorsData" data-bind="with: professorRegistrSubjectsListViewModel">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Subjects</th>
                                        <th />
                                    </tr>
                                </thead>
                                <tbody data-bind='foreach: subjects'>
                                    <tr>
                                        <td><input class='required form-control' data-bind='value: name, attr: { name: "ProfessorRegisterVewModel.Subjects["+$index()+"]"}' /></td>
                                        <td><a href='#' data-bind='click: $parent.removeSubject'>Delete</a></td>
                                    </tr>
                                </tbody>
                            </table>

                            <br />

                            <input type="button" class="btn btn-default" id="btnAddSubject" value="Add" data-bind="click: addSubject" />



                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-default" value="Register" />
                            </div>
                        </div>
                    }
                </div>
                <div class="tab-pane active" id="studentsData">

                    @using (Html.BeginForm("RegisterStudent", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Create a new account.</h4>
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Login, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.StudentRegisterVewModel.Name, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.StudentRegisterVewModel.Name, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.StudentRegisterVewModel.Surname, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.StudentRegisterVewModel.Surname, new { @class = "form-control" })
                            </div>
                        </div>

                        @*<div class="form-group">
                            <label class=".col-md-2 .control-label">Choose subject</label>
                            <div class=".col-md-offset-2 .col-md-10">
                                <div class="col-md-4">
                                    <select id="professorSelect" class="form-control" data-bind="options: professors, optionsValue: 'id', optionsText: function(i) { return i.name; }, optionsCaption: 'Choose professor', event: { change: professorSelectionChanged }"></select>
                                </div>
                                <div class="col-md-4">
                                    <select id="subjectSelect" class="form-control" data-bind="options: selectedProfessorSubjects, optionsValue: 'id', optionsText: function(i) { return i.name; }, optionsCaption: 'Choose subject', event: { change: subjectSelectionChanged }"></select>
                                </div>
                                <div class="col-md-2">
                                    <input type="button" class="btn btn-default" value="Add"
                                           data-bind="click: addSubjectForStudent" />
                                </div>
                            </div>


                        </div>
                        <div class="tab-pane" id="professorsData" data-bind="with: studentRegistSubjectsListViewModel">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th />
                                    </tr>
                                </thead>
                                <tbody data-bind='foreach: subjects'>
                                    <tr>
                                        <td>
                                            <input type="hidden" class='required form-control' data-bind='value: id, attr: { name: "StudentRegisterVewModel.SubjectIds["+$index()+"]"}'/>
                                            <label  data-bind="text : name" ></label>

                                        </td>
                                        <td><a href='#' data-bind='click: $parent.removeSubject'>Delete</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>*@

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-default" value="Register" />
                                </div>
                            </div>

                    }
                </div>

            </div>
        </div>

    </div>
</div>


